name: Test

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: oven-sh/setup-bun@v2
      - run: bun install
      - run: bun run lint
      - run: bun run tsc
      - run: bun run build
      - name: Start build & server
        run: |
          bun run build
          bun start > /tmp/stdout.log 2> /tmp/stderr.log &
      - name: Test server
        run: |
          sleep 1
          curl --retry-connrefused --retry 3 http://localhost:3000
      - name: Debug logs
        if: failure()
        run: |
          echo "===== STDOUT ====="
          cat /tmp/stdout.log
          echo "===== STDERR ====="
          cat /tmp/stderr.log
